<p>el balance de tu cuenta es:  <%= @@cuentaActual %><p>
<form method='post' action='/transaccion'>
      <input type='text' name='monto' class="insert">
      <input type='submit' value= 'Depositar' class="button">
</form>